:root{
--cor-principal:#000000;
--cor-secundaria:#ffffff;
--botao-principal:#167bf7;
--cor-de-fundo:#000000;
}


*{
margin: 0;
padding: 0;
}

.principal{
    background-image: url("img/disneybanner.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    height: 100vh;
}